@import "../../styles/rwd";

.faq-comp {
  background-color: rgb(48, 51, 75);

  &-container {
    height: 100%;
  }
}

.faq-comp-container .faq-comp-title .title {
  color: #ffffff;
  font-size: 72px;
  text-align: center;
}

.faq-comp-container .faq-comp-content .content-container {
  margin-top: 24px;

  &:not(:first-child) {
    margin-top: 36px;
  }

  .content {
    &-question {
      color: rgb(73, 220, 189);
      font-size: 33px;
      @include mobile {
        font-size: 30px;
      }
    }

    &-answer {
      color: #ffffff;
      font-size: 25px;
    }
  }

  &:last-child {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    justify-content: center;
    align-items: center;
    @include mobile {
      grid-template-columns: repeat(1, 1fr);
    }
    @include tablet {
      grid-template-columns: 2fr 1fr;
    }
  }
}

.faq-comp-container .faq-comp-contact {
  .contact-to-mail, .contact-to-message {
    display: flex;
    align-items: center;
  }

  .contact-to-mail {
    margin-bottom: 12px;
  }

  .contact-icon {
    width: 30px;
    margin-right: 12px;
  }

  .detail {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
  }

  @include mobile {
    margin-top: 24px;
  }
}