@import "../../styles/rwd";

.team-comp {
  min-height: 100vh;

  .react-parallax-bgimage {
    height: 100% !important;
    width: 100% !important;
  }

  &-container {
    height: 100%;
    padding: 24px 0;
  }
}

.team-comp-container .team-comp {
  &-title {
    color: rgb(255, 189, 89);
    font-weight: bold;
    font-size: 72px;
    text-align: center;
    text-transform: uppercase;
  }

  &-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 12px;
    justify-content: center;
    align-items: center;
    margin-top: 24px;

    .team-ava {
      img {
        width: 100%;
      }
    }

    .team-info-container {
      width: 100%;
      height: 100px;
      background-color: rgb(255, 189, 89);
      margin-top: 12px;
      padding: 12px;
      display: grid;
      grid-template-rows: repeat(2, 1fr);
      grid-gap: 12px;

      .position, .name {
        color: #ffffff;
        text-align: center;
      }

      .position {
        font-size: 20px;
      }

      .name {
        font-size: 25px;
      }
    }

    @include mobile {
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 24px;
    }
  }
}