@import "../../styles/rwd";

.banner-comp {
  min-height: 100vh;
  @include mobile {
    padding-bottom: 24px;
  }

  .react-parallax-bgimage {
    top: -20%;
    opacity: .7;
  }

  &-container {
    min-height: calc(100vh - 128px);
    padding: 24px 0 !important;
    @include mobile {
      min-height: calc(100vh - 126.73px);
    }
    @include tablet {
      min-height: calc(100vh - 126.73px);
    }
  }
}

.banner-comp-container .banner-comp {
  &-title .title {
    color: rgb(255, 255, 255);
    font-size: 72px;
    text-align: center;

    span {
      color: rgb(73, 220, 189);
    }

    @include mobile {
      font-size: 45px;
    }
  }
}

.banner-comp-container .mint-connected {
  width: 100%;

  &-container {
    width: 60%;
    @include mobile {
      width: 100%;
    }
  }
}