@import "../../styles/rwd";

.banner-comp {
  min-height: 100vh;

  .react-parallax-bgimage {
    top: -20%;
    opacity: .7;
  }

  &-container {
    min-height: calc(100vh - 128px);
    padding-left: 0 !important;
    padding-right: 0 !important;
    @include mobile {
      min-height: calc(100vh - 126.73px);
    }
    @include tablet {
      min-height: calc(100vh - 126.73px);
    }
  }
}

.banner-comp-container .banner-comp {
  &-title .title {
    color: rgb(255, 255, 255);
    font-size: 72px;
    text-align: center;

    span {
      color: rgb(73, 220, 189);
    }

    @include mobile {
      font-size: 45px;
    }
  }

  &-btn {
    margin-top: 24px;

    .button-item {
      background-color: #F5BC58;
      padding: 20px;
      border: none;
      outline: none;
      border-radius: 35px;
      font-size: 18px;
      color: #000;

      svg {
        margin-right: 12px;
        font-size: 25px;
      }

      &:hover {
        background-color: #ffffff;
        color: #F5BC58;

        svg {
          color: #F5BC58;
        }
      }
    }
  }
}